@model List<Album.Models.Photo>

@using Album.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gallery</title>

    <script src="~/js/lib/jquery-2.0.3.min.js"></script>
</head>
<body>
    

    <script type="text/javascript">
        function init() {
            
        }

        $(init);
    </script>
</body>
</html>
